body{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #7FC8A9;

}

.main-container{
    max-width: 550px;

}
.main-container img{
    max-width: 100%;
    margin-bottom: 15px;
}

.main-container h2,
.main-container p{
    color: white;
}

.main-container h2{
    font-size: 40px;
    margin: 10px 0px;
}


.main-container p{
    font-size: 25px;
    margin: 40px 0px;
}

.btn{
    background-color:#D5EEBB;
    border: none;
    cursor: pointer;
    padding: 15px 25px;
    border-radius: 10px;
    font-size: 18px;
    color: #3f3f3f;
}
.btn:hover{
    background-color:  #5F7A61;
    color: white;
}

.trailer-container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-image: linear-gradient(45deg, #efecb1,#b3da89);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: opacity .7s;
}

.trailer-container video{
    position: relative;
    max-width:900px ;
    outline: none;
}

@media (max-width:991px){
    .trailer-container video{
        max-width: 90%;
    }
}

.close-icon{
    position: absolute;
    right: 300px;
    top: 70px;
    color: white;
    cursor: pointer;
}
.trailer-container.hide {
   visibility: hidden;
   opacity: 0;
}